In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
data = pd.read_csv('./accepted_2007_to_2018Q4.csv')
data.head(5)

C:\Users\user\AppData\Local\Temp\ipykernel_5992\62786924.py:1: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('./accepted_2007_to_2018Q4.csv')

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68407277,NaN,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,leadman,10+ years,MORTGAGE,55000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,190xx,PA,5.91,0.0,Aug-2003,675.0,679.0,1.0,30.0,NaN,7.0,0.0,2765.0,29.7,13.0,w,0.00,0.00,4421.723917,4421.72,3600.00,821.72,0.0,0.0,0.0,Jan-2019,122.67,NaN,Mar-2019,564.0,560.0,0.0,30.0,1.0,Individual,NaN,NaN,NaN,0.0,722.0,144904.0,2.0,2.0,0.0,1.0,21.0,4981.0,36.0,3.0,3.0,722.0,34.0,9300.0,3.0,1.0,4.0,4.0,20701.0,1506.0,37.2,0.0,0.0,148.0,128.0,3.0,3.0,1.0,4.0,69.0,4.0,69.0,2.0,2.0,4.0,2.0,5.0,3.0,4.0,9.0,4.0,7.0,0.0,0.0,0.0,3.0,76.9,0.0,0.0,0.0,178050.0,7746.0,2400.0,13734.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,68355089,NaN,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,Engineer,10+ years,MORTGAGE,65000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,small_business,Business,577xx,SD,16.06,1.0,Dec-1999,715.0,719.0,4.0,6.0,NaN,22.0,0.0,21470.0,19.2,38.0,w,0.00,0.00,25679.660000,25679.66,24700.00,979.66,0.0,0.0,0.0,Jun-2016,926.35,NaN,Mar-2019,699.0,695.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,204396.0,1.0,1.0,0.0,1.0,19.0,18005.0,73.0,2.0,3.0,6472.0,29.0,111800.0,0.0,0.0,6.0,4.0,9733.0,57830.0,27.1,0.0,0.0,113.0,192.0,2.0,2.0,4.0,2.0,NaN,0.0,6.0,0.0,5.0,5.0,13.0,17.0,6.0,20.0,27.0,5.0,22.0,0.0,0.0,0.0,2.0,97.4,7.7,0.0,0.0,314017.0,39475.0,79300.0,24667.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,68341763,NaN,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,B4,truck driver,10+ years,MORTGAGE,63000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,home_improvement,NaN,605xx,IL,10.78,0.0,Aug-2000,695.0,699.0,0.0,NaN,NaN,6.0,0.0,7869.0,56.2,18.0,w,0.00,0.00,22705.924294,22705.92,20000.00,2705.92,0.0,0.0,0.0,Jun-2017,15813.30,NaN,Mar-2019,704.0,700.0,0.0,NaN,1.0,Joint App,71000.0,13.85,Not Verified,0.0,0.0,189699.0,0.0,1.0,0.0,4.0,19.0,10827.0,73.0,0.0,2.0,2081.0,65.0,14000.0,2.0,5.0,1.0,6.0,31617.0,2737.0,55.9,0.0,0.0,125.0,184.0,14.0,14.0,5.0,101.0,NaN,10.0,NaN,0.0,2.0,3.0,2.0,4.0,6.0,4.0,7.0,3.0,6.0,0.0,0.0,0.0,0.0,100.0,50.0,0.0,0.0,218418.0,18696.0,6200.0,14877.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,66310712,NaN,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,C5,Information Systems Officer,10+ years,MORTGAGE,110000.0,Source Verified,Dec-2015,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,076xx,NJ,17.06,0.0,Sep-2008,785.0,789.0,0.0,NaN,NaN,13.0,0.0,7802.0,11.6,17.0,w,15897.65,15897.65,31464.010000,31464.01,19102.35,12361.66,0.0,0.0,0.0,Feb-2019,829.90,Apr-2019,Mar-2019,679.0,675.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,301500.0,1.0,1.0,0.0,1.0,23.0,12609.0,70.0,1.0,1.0,6987.0,45.0,67300.0,0.0,1.0,0.0,2.0,23192.0,54962.0,12.1,0.0,0.0,36.0,87.0,2.0,2.0,1.0,2.0,NaN,NaN,NaN,0.0,4.0,5.0,8.0,10.0,2.0,10.0,13.0,5.0,13.0,0.0,0.0,0.0,1.0,100.0,0.0,0.0,0.0,381215.0,52226.0,62500.0,18000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,68476807,NaN,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,F1,Contract Specialist,3 years,MORTGAGE,104433.0,Source Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,major_purchase,Major purchase,174xx,PA,25.37,1.0,Jun-1998,695.0,699.0,3.0,12.0,NaN,12.0,0.0,21929.0,64.5,35.0,w,0.00,0.00,11740.500000,11740.50,10400.00,1340.50,0.0,0.0,0.0,Jul-2016,10128.96,NaN,Mar-2018,704.0,700.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,331730.0,1.0,3.0,0.0,3.0,14.0,73839.0,84.0,4.0,7.0,9702.0,78.0,34000.0,2.0,1.0,3.0,10.0,27644.0,4567.0,77.5,0.0,0.0,128.0,210.0,4.0,4.0,6.0,4.0,12.0,1.0,12.0,0.0,4.0,6.0,5.0,9.0,10.0,7.0,19.0,6.0,12.0,0.0,0.0,0.0,4.0,96.6,60.0,0.0,0.0,439570.0,95768.0,20300.0,88097.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
columns_to_keep = ['loan_amnt','int_rate','installment','emp_title','emp_length','annual_inc','issue_d','loan_status','purpose','dti','earliest_cr_line','open_acc','pub_rec','revol_bal','revol_util','total_acc','mort_acc','pub_rec_bankruptcies','zip_code','addr_state', 'grade' , 'collections_12_mths_ex_med']

#    
data.drop(columns=[col for col in data.columns if col not in columns_to_keep], inplace=True)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260701 entries, 0 to 2260700
Data columns (total 22 columns):
 #   Column                      Dtype
---  ------                      -----
 0   loan_amnt                   float64
 1   int_rate                    float64
 2   installment                 float64
 3   grade                       object
 4   emp_title                   object
 5   emp_length                  object
 6   annual_inc                  float64
 7   issue_d                     object
 8   loan_status                 object
 9   purpose                     object
 10  zip_code                    object
 11  addr_state                  object
 12  dti                         float64
 13  earliest_cr_line            object
 14  open_acc                    float64
 15  pub_rec                     float64
 16  revol_bal                   float64
 17  revol_util                  float64
 18  total_acc                   float64
 19  collections_12_mths_ex_med  float64
 20  mort_acc                    float64
 21  pub_rec_bankruptcies        float64
dtypes: float64(13), object(9)
memory usage: 379.5+ MB

In [5]:
pd.options.display.float_format = '{:.5f}'.format

In [6]:
target = data['loan_status']

In [7]:
data['earliest_cr_line'].fillna(0)

0          Aug-2003
1          Dec-1999
2          Aug-2000
3          Sep-2008
4          Jun-1998
             ...
2260696    Feb-1995
2260697    Jul-1999
2260698    Jun-1996
2260699           0
2260700           0
Name: earliest_cr_line, Length: 2260701, dtype: object

In [8]:
emp_title_other = data['emp_title']
emp_title_other = emp_title_other.to_frame()
emp_title_other_ = emp_title_other.applymap(lambda x: 1 if pd.notnull(x) else x)
emp_title_other_.fillna(0 , inplace= True)
data['emp'] = emp_title_other_

In [9]:
data = data.drop('emp_title',  axis = 1)

In [10]:
data['loan_status'].value_counts()

Fully Paid                                             1076751
Current                                                 878317
Charged Off                                             268559
Late (31-120 days)                                       21467
In Grace Period                                           8436
Late (16-30 days)                                         4349
Does not meet the credit policy. Status:Fully Paid        1988
Does not meet the credit policy. Status:Charged Off        761
Default                                                     40
Name: loan_status, dtype: int64

## feature

In [11]:
data.drop('pub_rec_bankruptcies' , axis = 1 , inplace=True)
data.head(5)

,loan_amnt,int_rate,installment,grade,emp_length,annual_inc,issue_d,loan_status,purpose,zip_code,addr_state,dti,earliest_cr_line,open_acc,pub_rec,revol_bal,revol_util,total_acc,collections_12_mths_ex_med,mort_acc,emp
0,3600.00000,13.99000,123.03000,C,10+ years,55000.00000,Dec-2015,Fully Paid,debt_consolidation,190xx,PA,5.91000,Aug-2003,7.00000,0.00000,2765.00000,29.70000,13.00000,0.00000,1.00000,1.00000
1,24700.00000,11.99000,820.28000,C,10+ years,65000.00000,Dec-2015,Fully Paid,small_business,577xx,SD,16.06000,Dec-1999,22.00000,0.00000,21470.00000,19.20000,38.00000,0.00000,4.00000,1.00000
2,20000.00000,10.78000,432.66000,B,10+ years,63000.00000,Dec-2015,Fully Paid,home_improvement,605xx,IL,10.78000,Aug-2000,6.00000,0.00000,7869.00000,56.20000,18.00000,0.00000,5.00000,1.00000
3,35000.00000,14.85000,829.90000,C,10+ years,110000.00000,Dec-2015,Current,debt_consolidation,076xx,NJ,17.06000,Sep-2008,13.00000,0.00000,7802.00000,11.60000,17.00000,0.00000,1.00000,1.00000
4,10400.00000,22.45000,289.91000,F,3 years,104433.00000,Dec-2015,Fully Paid,major_purchase,174xx,PA,25.37000,Jun-1998,12.00000,0.00000,21929.00000,64.50000,35.00000,0.00000,6.00000,1.00000

In [12]:
data.drop(['addr_state'], axis = 1, inplace=True)

In [13]:
data.drop(['zip_code'],axis = 1 , inplace = True)

In [14]:
data = data[data['annual_inc'] <= 250000]
data = data[data['dti'] <= 50]
data = data[data['open_acc'] <= 40]
data = data[data['total_acc'] <= 80]
data = data[data['revol_util'] <= 120]
data = data[data['revol_bal'] <= 250000]

In [15]:
data = data.dropna()

## 


 : home_ownership , loan_status , purpose , 

 : emp_length , collections_12_mths_ex_med , earliest_cr_line , issue_d


------

EDA   

addr_state , pub_rec_bankruptcies

------

earliest_cr_line , issue_d   ,   -     -> ordinalEncoding -> minmaxScaling




<>
  : earliest_cr_line , issue_d  -> ohe
 : ohe
 : ord

------
<br>
 : ord_num
<br>
 : ohe_num
<br>

------

y(target) :  


------
   (  ? ): annual_inc,  pub_rec , revol_bal

In [16]:
data['earliest_cr_line'] = pd.to_datetime(data['earliest_cr_line'], format = '%b-%Y')
data['issue_d'] = pd.to_datetime(data['issue_d'],format = '%b-%Y')

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2022619 entries, 0 to 2260698
Data columns (total 19 columns):
 #   Column                      Dtype
---  ------                      -----
 0   loan_amnt                   float64
 1   int_rate                    float64
 2   installment                 float64
 3   grade                       object
 4   emp_length                  object
 5   annual_inc                  float64
 6   issue_d                     datetime64[ns]
 7   loan_status                 object
 8   purpose                     object
 9   dti                         float64
 10  earliest_cr_line            datetime64[ns]
 11  open_acc                    float64
 12  pub_rec                     float64
 13  revol_bal                   float64
 14  revol_util                  float64
 15  total_acc                   float64
 16  collections_12_mths_ex_med  float64
 17  mort_acc                    float64
 18  emp                         float64
dtypes: datetime64[ns](2), float64(13), object(4)
memory usage: 308.6+ MB

In [18]:
import pandas as pd
from datetime import datetime

data['cr_line_period'] = (datetime.now() - data['earliest_cr_line']).dt.days
data['issue_d_period'] = (datetime.now() - data['issue_d']).dt.days

In [19]:
data.drop('earliest_cr_line' , axis = 1 , inplace= True)
data.drop('issue_d' , axis= 1 , inplace= True)

In [20]:
from sklearn.preprocessing import OrdinalEncoder

ord = OrdinalEncoder()

ord_feature = ['cr_line_period' , 'issue_d_period']

data[ord_feature]= ord.fit_transform(data[ord_feature])

In [21]:
data = data[data['collections_12_mths_ex_med'] < 7]

In [22]:
data['collections_12_mths_ex_med'].value_counts()

0.00000    1987971
1.00000      32116
2.00000       2126
3.00000        247
4.00000         85
5.00000         35
6.00000         15
Name: collections_12_mths_ex_med, dtype: int64

### y 1

In [23]:
data = data[data['loan_status'].isin(['Fully Paid', 'Charged Off'])]

In [24]:
emp_length_1 = {'< 1 year': 1 , '1 year': 2 , '2 years' : 3 , '3 years': 4 , '4 years' : 5 , '5 years' : 6 , '6 years' : 7 , '7 years': 8 , '8 years':9 ,'9 years': 10 , '10+ years':11}

data['emp_length'] = data['emp_length'].map(emp_length_1)

In [25]:
data['grade'].value_counts()

B    350845
C    344952
A    205937
D    179527
E     83887
F     28798
G      8176
Name: grade, dtype: int64

In [26]:
grade_1 = {'A' : 0 ,'B' : 1, 'C' : 2, 'D' : 3, 'E' : 4, 'F' : 5, 'G' : 6}

data['grade'] = data['grade'].map(grade_1)

In [27]:
data['grade'].value_counts()

1    350845
2    344952
0    205937
3    179527
4     83887
5     28798
6      8176
Name: grade, dtype: int64

In [28]:
from sklearn.preprocessing import MinMaxScaler

Mm_feature = ['emp_length', 'grade', 'collections_12_mths_ex_med' , 'cr_line_period','issue_d_period']

Mm = MinMaxScaler()

data[Mm_feature] = Mm.fit_transform(data[Mm_feature])

In [31]:
data['purpose'].value_counts()

debt_consolidation    705921
credit_card           266923
home_improvement       75532
other                  66803
major_purchase         25027
medical                13278
small_business         12448
car                    11938
moving                  8145
vacation                7904
house                   6217
wedding                 1223
renewable_energy         763
Name: purpose, dtype: int64

In [ ]:
import category_encoders as ce


binary_encoder = ce.BinaryEncoder(cols = ['purpose'])

df_encoded = binary_encoder.fit_transform(data)

In [ ]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1202122 entries, 0 to 2260697
Data columns (total 22 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   loan_amnt                   1202122 non-null  float64
 1   int_rate                    1202122 non-null  float64
 2   installment                 1202122 non-null  float64
 3   grade                       1202122 non-null  float64
 4   emp_length                  1202122 non-null  float64
 5   annual_inc                  1202122 non-null  float64
 6   loan_status                 1202122 non-null  object
 7   purpose_0                   1202122 non-null  int64
 8   purpose_1                   1202122 non-null  int64
 9   purpose_2                   1202122 non-null  int64
 10  purpose_3                   1202122 non-null  int64
 11  dti                         1202122 non-null  float64
 12  open_acc                    1202122 non-null  float64
 13  pub_rec                     1202122 non-null  float64
 14  revol_bal                   1202122 non-null  float64
 15  revol_util                  1202122 non-null  float64
 16  total_acc                   1202122 non-null  float64
 17  collections_12_mths_ex_med  1202122 non-null  float64
 18  mort_acc                    1202122 non-null  float64
 19  emp                         1202122 non-null  float64
 20  cr_line_period              1202122 non-null  float64
 21  issue_d_period              1202122 non-null  float64
dtypes: float64(17), int64(4), object(1)
memory usage: 210.9+ MB

In [ ]:
df_encoded.head()

,loan_amnt,int_rate,installment,grade,emp_length,annual_inc,loan_status,purpose_0,purpose_1,purpose_2,purpose_3,dti,open_acc,pub_rec,revol_bal,revol_util,total_acc,collections_12_mths_ex_med,mort_acc,emp,cr_line_period,issue_d_period
0,-1.26628,0.14716,-1.23008,0.33333,1.00000,-0.50765,Fully Paid,0,0,0,1,-1.47165,-0.87323,-0.35591,-0.75872,-0.92313,-1.02098,0.00000,-0.32508,1.00000,0.20027,0.44444
1,1.16925,-0.27039,1.45496,0.33333,1.00000,-0.24774,Fully Paid,0,0,1,0,-0.26299,1.91862,-0.35591,0.33325,-1.35588,1.10406,0.00000,1.19408,1.00000,0.26063,0.44444
2,0.62674,-0.52301,-0.03772,0.16667,1.00000,-0.29972,Fully Paid,0,0,1,1,-0.89173,-1.05935,-0.35591,-0.46076,0.16904,-0.59597,0.00000,1.70047,1.00000,0.24966,0.44444
4,-0.48137,1.91341,-0.58744,0.83333,0.30000,0.77716,Fully Paid,0,1,0,0,0.84564,0.05739,-0.35591,0.36004,0.51112,0.84905,0.00000,2.20685,1.00000,0.28532,0.44444
5,-0.30246,0.03233,-0.14355,0.33333,0.40000,-1.05346,Fully Paid,0,0,0,1,-0.96080,-1.24547,-0.35591,-0.40512,0.67185,-1.61599,0.00000,-0.83147,1.00000,0.46091,0.44444

In [ ]:
#from sklearn.preprocessing import OneHotEncoder

#ohe_feature = ['purpose']

#ohe = OneHotEncoder()

#ohe_num = ohe.fit_transform(data[ohe_feature])

In [41]:
from sklearn.preprocessing import StandardScaler

num_features = ['loan_amnt','int_rate','installment','annual_inc','dti','open_acc','pub_rec','revol_bal','revol_util','total_acc','mort_acc']

std_saller = StandardScaler()

data[num_features] = std_saller.fit_transform(data[num_features])

In [42]:
data.head(5)

,loan_amnt,int_rate,installment,grade,emp_length,annual_inc,loan_status,purpose,dti,open_acc,pub_rec,revol_bal,revol_util,total_acc,collections_12_mths_ex_med,mort_acc,emp,cr_line_period,issue_d_period
0,-1.26628,0.14716,-1.23008,0.33333,1.00000,-0.50765,Fully Paid,debt_consolidation,-1.47165,-0.87323,-0.35591,-0.75872,-0.92313,-1.02098,0.00000,-0.32508,1.00000,0.20027,0.44444
1,1.16925,-0.27039,1.45496,0.33333,1.00000,-0.24774,Fully Paid,small_business,-0.26299,1.91862,-0.35591,0.33325,-1.35588,1.10406,0.00000,1.19408,1.00000,0.26063,0.44444
2,0.62674,-0.52301,-0.03772,0.16667,1.00000,-0.29972,Fully Paid,home_improvement,-0.89173,-1.05935,-0.35591,-0.46076,0.16904,-0.59597,0.00000,1.70047,1.00000,0.24966,0.44444
4,-0.48137,1.91341,-0.58744,0.83333,0.30000,0.77716,Fully Paid,major_purchase,0.84564,0.05739,-0.35591,0.36004,0.51112,0.84905,0.00000,2.20685,1.00000,0.28532,0.44444
5,-0.30246,0.03233,-0.14355,0.33333,0.40000,-1.05346,Fully Paid,debt_consolidation,-0.96080,-1.24547,-0.35591,-0.40512,0.67185,-1.61599,0.00000,-0.83147,1.00000,0.46091,0.44444

## y

In [33]:
data['loan_status'].value_counts()

Fully Paid     964317
Current        789948
Charged Off    237805
Name: loan_status, dtype: int64

In [ ]:
data = data[data['loan_status'].isin(['Fully Paid', 'Charged Off'])]

In [35]:
data['loan_status'].value_counts()

Fully Paid     964317
Current        789948
Charged Off    237805
Name: loan_status, dtype: int64

In [ ]:
target_1 = {'Fully Paid':0 , 'Charged Off':1}
data['loan_status']= data['loan_status'].map(target_1)

In [37]:
data['loan_status'].value_counts(dropna = False)

0    964317
1    789948
2    237805
Name: loan_status, dtype: int64

In [38]:
data = data.dropna()

In [39]:
data.head(5)

,loan_amnt,int_rate,installment,grade,emp_length,annual_inc,loan_status,dti,open_acc,pub_rec,revol_bal,revol_util,total_acc,collections_12_mths_ex_med,mort_acc,emp,cr_line_period,issue_d_period
0,-1.26602,0.18945,-1.22860,0.33333,1.00000,-0.53027,0,-1.45508,-0.84896,-0.34363,-0.76125,-0.85276,-0.95117,0.00000,-0.28341,1.00000,0.20082,0.44444
1,1.05257,-0.22526,1.41137,0.33333,1.00000,-0.27777,0,-0.27668,1.87487,-0.34363,0.30680,-1.28131,1.18096,0.00000,1.31303,1.00000,0.26093,0.44444
2,0.53611,-0.47617,-0.05626,0.16667,1.00000,-0.32827,0,-0.88968,-1.03055,-0.34363,-0.46982,0.22882,-0.52474,0.00000,1.84518,1.00000,0.25000,0.44444
3,2.18439,0.36778,1.44780,0.33333,1.00000,0.85848,1,-0.16058,0.24057,-0.34363,-0.47364,-1.59150,-0.61003,0.00000,-0.28341,1.00000,0.11749,0.44444
4,-0.51880,1.94370,-0.59675,0.83333,0.30000,0.71791,0,0.80421,0.05898,-0.34363,0.33301,0.56758,0.92510,0.00000,2.37733,1.00000,0.28552,0.44444

##

In [ ]:
from scipy import sparse

data_sparse = sparse.hstack([sparse.csr_matrix(data),
                               ohe_num
                               ],
                               
                               format = 'csr')

In [ ]:
data_sparse.to_csv('./final_train.csv', index = False)

In [42]:
y = data['loan_status']

In [43]:
data = data.drop('loan_status' , axis = 1)

In [44]:
num_train = len(data)

X_train = data_sparse[:num_train]
X_test = data_sparse[num_train :]

In [45]:
from sklearn.model_selection import train_test_split

X_train , X_valid, y_train, y_valid = train_test_split(X_train, y, 
                                                       test_size=0.2, 
                                                       random_state=42 , 
                                                       stratify = y)

##

In [46]:
from sklearn.linear_model import LogisticRegression
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import make_pipeline 


pipeline = make_pipeline(
    SimpleImputer(strategy='most_frequent'),
    LogisticRegression(max_iter=1000, random_state=42)    
)

pipeline.fit(X_train, y_train)

Pipeline(steps=[('simpleimputer', SimpleImputer(strategy='most_frequent')),
                ('logisticregression',
                 LogisticRegression(max_iter=1000, random_state=42))])

In [47]:
# from sklearn.metrics import roc_auc_score


y_valid_preds = pipeline.predict(X_valid)

# 'multi_class'  'ovo'  'ovr' 
#roc_auc = roc_auc_score(y_valid, y_valid_preds, multi_class='ovr')

#print(f"  ROC AUC : {roc_auc :.4f}" )

In [48]:
from sklearn.metrics import classification_report

print(classification_report(y_valid , y_valid_preds))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00    192863
           1       1.00      1.00      1.00    157990
           2       1.00      1.00      1.00     47561

    accuracy                           1.00    398414
   macro avg       1.00      1.00      1.00    398414
weighted avg       1.00      1.00      1.00    398414

In [49]:
y.value_counts(sort= False)

0    964317
1    789948
2    237805
Name: loan_status, dtype: int64

In [50]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

rfc = RandomForestClassifier(n_estimators= 100, max_depth= 5, random_state = 0)
rfc.fit(X_train , y_train)

predict1 = rfc.predict(X_valid)
print(classification_report(y_valid , predict1))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00    192863
           1       0.93      1.00      0.96    157990
           2       1.00      0.75      0.85     47561

    accuracy                           0.97    398414
   macro avg       0.98      0.92      0.94    398414
weighted avg       0.97      0.97      0.97    398414

In [52]:
from imblearn.under_sampling import RandomUnderSampler
from collections import Counter


print(f"    : {Counter(y_train)}")

rus = RandomUnderSampler(random_state=42)
X_resampled, y_resampled = rus.fit_resample(X_train, y_train)

print(f"      : {Counter(y_resampled)}" )

    : Counter({0: 771454, 1: 631958, 2: 190244})
      : Counter({0: 190244, 1: 190244, 2: 190244})

In [56]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

rfc = RandomForestClassifier(n_estimators= 100, max_depth= 3 , random_state = 0)
rfc.fit(X_resampled , y_resampled)

predict1 = rfc.predict(X_valid)
print(classification_report(y_valid , predict1))

              precision    recall  f1-score   support

           0       1.00      0.99      0.99    192863
           1       0.98      0.98      0.98    157990
           2       0.93      0.99      0.96     47561

    accuracy                           0.99    398414
   macro avg       0.97      0.99      0.98    398414
weighted avg       0.99      0.99      0.99    398414

In [61]:
X_resampled

<570732x38 sparse matrix of type '<class 'numpy.float64'>'
	with 10511015 stored elements in Compressed Sparse Row format>

In [66]:
y_resampled

0         0
1         0
2         0
3         0
4         0
         ..
570727    2
570728    2
570729    2
570730    2
570731    2
Name: loan_status, Length: 570732, dtype: int64

'Fully Paid':0 , 
<br>
'Current':1 ,
<br>
'Charged Off':2, 
<br>

     
- p2p         , recall  .
-        .


-        .      'Current'

In [59]:
pd.read_csv('resampled_data.csv')

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,target
0,-0.73857,-0.63998,-0.66831,0.16667,0.20000,-0.90902,0.00000,-1.36452,-1.21214,-0.34363,-0.45811,0.46962,-1.54816,0.00000,-0.81556,1.00000,0.08607,0.49383,0.00000,0.00000,0.00000,0.00000,0.00000,1.00000,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0
1,-0.95834,-0.08011,-0.88155,0.33333,1.00000,-0.40402,0.00000,-0.63658,0.24057,-0.34363,0.08320,1.23693,1.35153,0.00000,-0.28341,1.00000,0.19126,0.49383,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0
2,0.31633,-1.00285,0.44879,0.16667,0.80000,0.98473,0.00000,-0.01429,-0.84896,-0.34363,-0.17124,1.06143,0.49868,0.00000,0.78088,1.00000,0.17213,0.29630,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0
3,1.63771,1.26772,1.26647,0.66667,0.10000,-0.40203,0.00000,0.46520,2.78282,-0.34363,0.89247,0.11046,1.86324,0.00000,0.24874,1.00000,0.30055,0.51852,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0
4,-1.09021,-0.01790,-1.03111,0.33333,1.00000,-1.11101,0.00000,0.73687,-0.66738,1.41668,-0.47810,1.03694,-0.09832,0.00000,0.78088,1.00000,0.44536,0.66667,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
570727,1.63496,-0.43262,2.02376,0.16667,0.60000,0.45448,2.00000,0.08904,-0.30420,-0.34363,1.65082,1.64508,-0.18360,0.00000,-0.81556,1.00000,0.28415,0.49383,0.00000,0.00000,0.00000,0.00000,0.00000,1.00000,0.00000,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,2
570728,-0.51880,0.46317,-0.75119,0.33333,1.00000,-0.53027,2.00000,-0.55299,-0.30420,-0.34363,0.18010,0.92266,-0.95117,0.00000,-0.81556,1.00000,0.37705,0.40741,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,2
570729,-0.56275,0.60417,-0.36344,0.33333,0.30000,1.99472,2.00000,-1.94154,-0.84896,-0.34363,-0.81247,-0.15892,-1.29231,0.00000,-0.28341,1.00000,0.06284,0.28395,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,2
570730,0.53611,-0.12158,0.83851,0.16667,0.00000,0.68173,2.00000,0.44662,-1.21214,-0.34363,-0.38097,1.70630,-0.01303,0.00000,-0.28341,1.00000,0.22268,0.62963,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,2
570731,0.53611,0.81153,0.18716,0.50000,0.50000,-0.53027,2.00000,1.54724,0.24057,-0.34363,0.80271,0.14311,1.18096,0.00000,0.24874,1.00000,0.24863,0.35802,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,2