In [17]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [18]:
data = pd.read_csv('./accepted_2007_to_2018Q4.csv')
data

C:\Users\user\AppData\Local\Temp\ipykernel_16612\1531703685.py:1: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('./accepted_2007_to_2018Q4.csv')

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68407277,NaN,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,leadman,10+ years,MORTGAGE,55000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,190xx,PA,5.91,0.0,Aug-2003,675.0,679.0,1.0,30.0,NaN,7.0,0.0,2765.0,29.7,13.0,w,0.00,0.00,4421.723917,4421.72,3600.00,821.72,0.00,0.0,0.0,Jan-2019,122.67,NaN,Mar-2019,564.0,560.0,0.0,30.0,1.0,Individual,NaN,NaN,NaN,0.0,722.0,144904.0,2.0,2.0,0.0,1.0,21.0,4981.0,36.0,3.0,3.0,722.0,34.0,9300.0,3.0,1.0,4.0,4.0,20701.0,1506.0,37.2,0.0,0.0,148.0,128.0,3.0,3.0,1.0,4.0,69.0,4.0,69.0,2.0,2.0,4.0,2.0,5.0,3.0,4.0,9.0,4.0,7.0,0.0,0.0,0.0,3.0,76.9,0.0,0.0,0.0,178050.0,7746.0,2400.0,13734.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,68355089,NaN,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,Engineer,10+ years,MORTGAGE,65000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,small_business,Business,577xx,SD,16.06,1.0,Dec-1999,715.0,719.0,4.0,6.0,NaN,22.0,0.0,21470.0,19.2,38.0,w,0.00,0.00,25679.660000,25679.66,24700.00,979.66,0.00,0.0,0.0,Jun-2016,926.35,NaN,Mar-2019,699.0,695.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,204396.0,1.0,1.0,0.0,1.0,19.0,18005.0,73.0,2.0,3.0,6472.0,29.0,111800.0,0.0,0.0,6.0,4.0,9733.0,57830.0,27.1,0.0,0.0,113.0,192.0,2.0,2.0,4.0,2.0,NaN,0.0,6.0,0.0,5.0,5.0,13.0,17.0,6.0,20.0,27.0,5.0,22.0,0.0,0.0,0.0,2.0,97.4,7.7,0.0,0.0,314017.0,39475.0,79300.0,24667.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,68341763,NaN,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,B4,truck driver,10+ years,MORTGAGE,63000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,home_improvement,NaN,605xx,IL,10.78,0.0,Aug-2000,695.0,699.0,0.0,NaN,NaN,6.0,0.0,7869.0,56.2,18.0,w,0.00,0.00,22705.924294,22705.92,20000.00,2705.92,0.00,0.0,0.0,Jun-2017,15813.30,NaN,Mar-2019,704.0,700.0,0.0,NaN,1.0,Joint App,71000.0,13.85,Not Verified,0.0,0.0,189699.0,0.0,1.0,0.0,4.0,19.0,10827.0,73.0,0.0,2.0,2081.0,65.0,14000.0,2.0,5.0,1.0,6.0,31617.0,2737.0,55.9,0.0,0.0,125.0,184.0,14.0,14.0,5.0,101.0,NaN,10.0,NaN,0.0,2.0,3.0,2.0,4.0,6.0,4.0,7.0,3.0,6.0,0.0,0.0,0.0,0.0,100.0,50.0,0.0,0.0,218418.0,18696.0,6200.0,14877.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,66310712,NaN,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,C5,Information Systems Officer,10+ years,MORTGAGE,110000.0,Source Verified,Dec-2015,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,076xx,NJ,17.06,0.0,Sep-2008,785.0,789.0,0.0,NaN,NaN,13.0,0.0,7802.0,11.6,17.0,w,15897.65,15897.65,31464.010000,31464.01,19102.35,12361.66,0.00,0.0,0.0,Feb-2019,829.90,Apr-2019,Mar-2019,679.0,675.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,301500.0,1.0,1.0,0.0,1.0,23.0,12609.0,70.0,1.0,1.0,6987.0,45.0,67300.0,0.0,1.0,0.0,2.0,23192.0,54962.0,12.1,0.0,0.0,36.0,87.0,2.0,2.0,1.0,2.0,NaN,NaN,NaN,0.0,4.0,5.0,8.0,10.0,2.0,10.0,13.0,5.0,13.0,0.0,0.0,0.0,1.0,100.0,0.0,0.0,0.0,381215.0,52226.0,62500.0,18000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,68476807,NaN,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,F1,Contract Specialist,3 years,MORTGAGE,104433.0,Source Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,major_purchase,Major purchase,174xx,PA,25.37,1.0,Jun-1998,695.0,699.0,3.0,12.0,NaN,12.0,0.0,21929.0,64.5,35.0,w,0.00,0.00,11740.500000,11740.50,10400.00,1340.50,0.00,0.0,0.0,Jul-2016,10128.96,NaN,Mar-2018,704.0,700.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,331730.0,1.0,3.0,0.0,3.0,14.0,73839.0,84.0,4.0,7.0,9702.0,78.0,34000.0,2.0,1.0,3.0,10.0,27644.0,4567.0,77.5,0.0,0.0,128.0,210.0,4.0,4.0,6.0,4.0,12.0,1.0,12.0,0.0,4.0,6.0,5.0,9.0,10.0,7.0,19.0,6.0,12.0,0.0,0.0,0.0,4.0,96.6,60.0,0.0,0.0,439570.0,95768.0,20300.0,88097.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260696,88985880,NaN,40000.0,40000.0,40000.0,60 months,10.49,859.56,B,B3,Vice President,9 years,MORTGAGE,227000.0,Verified,Oct-2016,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,NaN,907xx,CA,12.75,7.0,Feb-1995,705.0,709.0,1.0,9.0,NaN,5.0,0.0,8633.0,64.9,37.0,f,23252.59,23252.59,24903.930000,24903.93,16747.41,8156.52,0.00,0.0,0.0,Mar-2019,859.56,Apr-2019,Mar-2019,724.0,720.0,0.0,10.0,1.0,Individual,NaN,NaN,NaN,0.0,0.0,28398.0,0.0,2.0,0.0,1.0,15.0,19765.0,46.0,0.0,0.0,5141.0,51.0,13300.0,3.0,0.0,2.0,2.0,5680.0,4070.0,66.9,0.0,0.0,154.0,258.0,33.0,15.0,3.0,41.0,9.0,1.0,9.0,6.0,2.0,3.0,2.0,15.0,9.0,3.0,23.0,3.0,5.0,0.0,0.0,7.0,0.0,75.7,50.0,0.0,0.0,55970.0,28398.0,12300.0,42670.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260697,88224441,NaN,24000.0,24000.0,24000.0,60 months,14.49,564.56,C,C4,Program Manager,6 years,RENT,110000.0,Not Verified,Oct-2016,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,334xx,FL,18.30,0.0,Jul-1999,660.0,664.0,0.0,67.0,72.0,10.0,1.0,17641.0,68.1,31.0,f,0.00,0.00,6755.400000,6755.40,3521.91,3233.49,0.00,0.0,0.0,Oct-2017,564.56,NaN,Mar-2019,594.0,590.0,0.0,67.0,1.0,Individual,NaN,NaN,NaN,0.0,0.0,62426.0,0.0,2.0,0.0,2.0,20.0,44785.0,78.0,1.0,5.0,6172.0,73.0,25900.0,0.0,0.0,1.0,7.0,6243.0,4660.0,77.5,0.0,0.0,132.0,206.0,9.0,9.0,2.0,9.0,NaN,9.0,NaN,1.0,5.0,7.0,5.0,15.0,4.0,8.0,24.0,7.0,10.0,0.0,0.0,0.0,1.0,96.2,40.0,1.0,0.0,84664.0,62426.0,20700.0,58764.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,Y,Mar-2019,ACTIVE,Mar-2019,10000.0,44.82,1.0
2260698,88215728,NaN,14000.0,14000.0,14000.0,60 months,14.49,329.33,C,C4,Customer Service Technician,10+ years,MORTGAGE,95000.0,Verified,Oct-2016,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,NaN,770xx,TX,23.36,0.0,Jun-1996,660.0,664.0,1.0,37.0,NaN,8.0,0.0,7662.0,54.0,22.0,w,8456.12,8456.12,9621.250000,9621.25,5543.88,4027.96,49.41,0.0,0.0,Mar-2019,329.33,Apr-2019,Mar-2019,669.0,665.0,0.0,37.0,1.0,Individual,NaN,NaN,NaN,0.0,0.0,143066.0,0.0,1.0,1.0,2.0,7.0,32071.0,94.0,0.0,1.0,4093.0,84.0,14200.0,3.0,1.0,2.0,3.0,17883.0,1838.0,80.7,0.0,0.0,149.0,243.0,22.0,7.0,1.0,75.0,39.0,6.0,37.0,4.0,3.0,3.0,4.0,12.0,3.0,5.0,17.0,3.0,8.0,0.0,0.0,0.0,1.0,81.8,50.0,0.0,0.0,163804.0,44215.0,9500.0,34169.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260699,Total amount funded in policy code 1: 1465324575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2260700,Total amount funded in policy code 2: 521953170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
columns_to_keep = ['loan_amnt','int_rate','installment','emp_title','emp_length','home_ownership','annual_inc','issue_d','loan_status','purpose','dti','earliest_cr_line','open_acc','pub_rec','revol_bal','revol_util','total_acc','mort_acc','pub_rec_bankruptcies','zip_code','addr_state', 'grade' , 'collections_12_mths_ex_med']

# 컬럼 제외하고 나머지 삭제
data.drop(columns=[col for col in data.columns if col not in columns_to_keep], inplace=True)

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260701 entries, 0 to 2260700
Data columns (total 23 columns):
 #   Column                      Dtype
---  ------                      -----
 0   loan_amnt                   float64
 1   int_rate                    float64
 2   installment                 float64
 3   grade                       object
 4   emp_title                   object
 5   emp_length                  object
 6   home_ownership              object
 7   annual_inc                  float64
 8   issue_d                     object
 9   loan_status                 object
 10  purpose                     object
 11  zip_code                    object
 12  addr_state                  object
 13  dti                         float64
 14  earliest_cr_line            object
 15  open_acc                    float64
 16  pub_rec                     float64
 17  revol_bal                   float64
 18  revol_util                  float64
 19  total_acc                   float64
 20  collections_12_mths_ex_med  float64
 21  mort_acc                    float64
 22  pub_rec_bankruptcies        float64
dtypes: float64(13), object(10)
memory usage: 396.7+ MB

In [21]:
pd.options.display.float_format = '{:.5f}'.format

In [22]:
target = data['loan_status']

## feature 정리


명목형 : home_ownership , loan_status , purpose , zip_code , earliest_cr_line , issue_d

순서형 : emp_length

이진 분류로 변경 (해도 될까 ? ): annual_inc,  pub_rec , revol_bal  


------

EDA 이후 삭제한 피처들

addr_state , pub_rec_bankruptcies

------

참고 : earliest_cr_line , issue_d 의 경우 , 추후 현재 날짜 - 기존 날짜로 총합 계산



<계획>
날짜 피처 : earliest_cr_line , issue_d  -> ohe
명목형 : ohe
순서형 : ord

In [27]:
data['earliest_cr_line'].fillna(0)

0          Aug-2003
1          Dec-1999
2          Aug-2000
3          Sep-2008
4          Jun-1998
             ...
2260696    Feb-1995
2260697    Jul-1999
2260698    Jun-1996
2260699           0
2260700           0
Name: earliest_cr_line, Length: 2260701, dtype: object

In [28]:
data.drop_duplicates(inplace = True)

In [29]:
emp_title_other = data['emp_title']
emp_title_other = emp_title_other.to_frame()
emp_title_other_ = emp_title_other.applymap(lambda x: 1 if pd.notnull(x) else x)
emp_title_other_.fillna(0 , inplace= True)
data['emp'] = emp_title_other_

In [30]:
data = data.drop('emp_title',  axis = 1)

In [38]:
data.drop('pub_rec_bankruptcies' , axis = 1 , inplace=True)
data

,loan_amnt,int_rate,installment,grade,emp_length,home_ownership,annual_inc,issue_d,loan_status,purpose,zip_code,addr_state,dti,earliest_cr_line,open_acc,pub_rec,revol_bal,revol_util,total_acc,collections_12_mths_ex_med,mort_acc,emp
0,3600.00000,13.99000,123.03000,C,10+ years,MORTGAGE,55000.00000,Dec-2015,0,debt_consolidation,190xx,PA,5.91000,Aug-2003,7.00000,0.00000,2765.00000,29.70000,13.00000,0.00000,1.00000,1.00000
1,24700.00000,11.99000,820.28000,C,10+ years,MORTGAGE,65000.00000,Dec-2015,0,small_business,577xx,SD,16.06000,Dec-1999,22.00000,0.00000,21470.00000,19.20000,38.00000,0.00000,4.00000,1.00000
2,20000.00000,10.78000,432.66000,B,10+ years,MORTGAGE,63000.00000,Dec-2015,0,home_improvement,605xx,IL,10.78000,Aug-2000,6.00000,0.00000,7869.00000,56.20000,18.00000,0.00000,5.00000,1.00000
3,35000.00000,14.85000,829.90000,C,10+ years,MORTGAGE,110000.00000,Dec-2015,0,debt_consolidation,076xx,NJ,17.06000,Sep-2008,13.00000,0.00000,7802.00000,11.60000,17.00000,0.00000,1.00000,1.00000
4,10400.00000,22.45000,289.91000,F,3 years,MORTGAGE,104433.00000,Dec-2015,0,major_purchase,174xx,PA,25.37000,Jun-1998,12.00000,0.00000,21929.00000,64.50000,35.00000,0.00000,6.00000,1.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260694,24000.00000,12.79000,543.50000,C,7 years,MORTGAGE,95000.00000,Oct-2016,0,home_improvement,356xx,AL,19.61000,Dec-1999,5.00000,0.00000,49431.00000,84.40000,54.00000,0.00000,0.00000,1.00000
2260695,24000.00000,10.49000,515.74000,B,10+ years,MORTGAGE,108000.00000,Oct-2016,0,debt_consolidation,840xx,UT,34.94000,Feb-1991,24.00000,1.00000,21665.00000,39.00000,58.00000,0.00000,4.00000,1.00000
2260696,40000.00000,10.49000,859.56000,B,9 years,MORTGAGE,227000.00000,Oct-2016,0,debt_consolidation,907xx,CA,12.75000,Feb-1995,5.00000,0.00000,8633.00000,64.90000,37.00000,0.00000,3.00000,1.00000
2260697,24000.00000,14.49000,564.56000,C,6 years,RENT,110000.00000,Oct-2016,1,debt_consolidation,334xx,FL,18.30000,Jul-1999,10.00000,1.00000,17641.00000,68.10000,31.00000,0.00000,2.00000,1.00000
2260698,14000.00000,14.49000,329.33000,C,10+ years,MORTGAGE,95000.00000,Oct-2016,0,debt_consolidation,770xx,TX,23.36000,Jun-1996,8.00000,0.00000,7662.00000,54.00000,22.00000,0.00000,1.00000,1.00000

## data 전처리

In [39]:
data.drop(['addr_state'], axis = 1, inplace=True)

In [40]:
data.drop(['zip_code'],axis = 1 , inplace = True)

In [41]:
data['earliest_cr_line'] = pd.to_datetime(data['earliest_cr_line'], format = '%b-%Y')

In [42]:
#import pandas as pd
#from datetime import datetime

#data_c['cr_line_period'] = (datetime.now() - data_c['earliest_cr_line']).dt.days

In [43]:
data['issue_d'] = pd.to_datetime(data['issue_d'],format = '%b-%Y')

In [44]:
data.head(5)

,loan_amnt,int_rate,installment,grade,emp_length,home_ownership,annual_inc,issue_d,loan_status,purpose,dti,earliest_cr_line,open_acc,pub_rec,revol_bal,revol_util,total_acc,collections_12_mths_ex_med,mort_acc,emp
0,3600.00000,13.99000,123.03000,C,10+ years,MORTGAGE,55000.00000,2015-12-01,0,debt_consolidation,5.91000,2003-08-01,7.00000,0.00000,2765.00000,29.70000,13.00000,0.00000,1.00000,1.00000
1,24700.00000,11.99000,820.28000,C,10+ years,MORTGAGE,65000.00000,2015-12-01,0,small_business,16.06000,1999-12-01,22.00000,0.00000,21470.00000,19.20000,38.00000,0.00000,4.00000,1.00000
2,20000.00000,10.78000,432.66000,B,10+ years,MORTGAGE,63000.00000,2015-12-01,0,home_improvement,10.78000,2000-08-01,6.00000,0.00000,7869.00000,56.20000,18.00000,0.00000,5.00000,1.00000
3,35000.00000,14.85000,829.90000,C,10+ years,MORTGAGE,110000.00000,2015-12-01,0,debt_consolidation,17.06000,2008-09-01,13.00000,0.00000,7802.00000,11.60000,17.00000,0.00000,1.00000,1.00000
4,10400.00000,22.45000,289.91000,F,3 years,MORTGAGE,104433.00000,2015-12-01,0,major_purchase,25.37000,1998-06-01,12.00000,0.00000,21929.00000,64.50000,35.00000,0.00000,6.00000,1.00000

In [45]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2260669 entries, 0 to 2260698
Data columns (total 20 columns):
 #   Column                      Dtype
---  ------                      -----
 0   loan_amnt                   float64
 1   int_rate                    float64
 2   installment                 float64
 3   grade                       object
 4   emp_length                  object
 5   home_ownership              object
 6   annual_inc                  float64
 7   issue_d                     datetime64[ns]
 8   loan_status                 int64
 9   purpose                     object
 10  dti                         float64
 11  earliest_cr_line            datetime64[ns]
 12  open_acc                    float64
 13  pub_rec                     float64
 14  revol_bal                   float64
 15  revol_util                  float64
 16  total_acc                   float64
 17  collections_12_mths_ex_med  float64
 18  mort_acc                    float64
 19  emp                         float64
dtypes: datetime64[ns](2), float64(13), int64(1), object(4)
memory usage: 362.2+ MB

In [ ]:
data = data[data['annual_inc'] <= 250000]
data = data[data['dti'] <= 50]
data = data[data['open_acc'] <= 40]
data = data[data['total_acc'] <= 80]
data = data[data['revol_util'] <= 120]
data = data[data['revol_bal'] <= 250000]

## 전처리


명목형 : home_ownership , loan_status , purpose ,  earliest_cr_line , issue_d

순서형 : emp_length , collections_12_mths_ex_med


------

EDA 이후 삭제한 피처들

addr_state , pub_rec_bankruptcies

------

참고 : earliest_cr_line , issue_d 의 경우 , 추후 현재 날짜 - 기존 날짜로 총합 계산



<계획>
날짜 피처 : earliest_cr_line , issue_d  -> ohe
명목형 : ohe
순서형 : ord

------

순서형 : ord_num
명목형 : ohe_num


------
이진 분류로 변경 (해도 될까 ? ): annual_inc,  pub_rec , revol_bal

In [46]:
data = data[data['collections_12_mths_ex_med'] < 7]

In [47]:
data['collections_12_mths_ex_med'].value_counts()

0.00000    2223085
1.00000      34684
2.00000       2313
3.00000        271
4.00000         93
5.00000         36
6.00000         17
Name: collections_12_mths_ex_med, dtype: int64

In [48]:
emp_length_1 = {'< 1 year': 1 , '1 year': 2 , '2 years' : 3 , '3 years': 4 , '4 years' : 5 , '5 years' : 6 , '6 years' : 7 , '7 years': 8 , '8 years':9 ,'9 years': 10 , '10+ years':11}

data['emp_length'] = data['emp_length'].map(emp_length_1)

C:\Users\user\AppData\Local\Temp\ipykernel_16612\1451325304.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['emp_length'] = data['emp_length'].map(emp_length_1)

In [49]:
data['grade'].value_counts()

B    663520
C    650017
A    432990
D    324405
E    135618
F     41788
G     12161
Name: grade, dtype: int64

In [50]:
grade_1 = {'A' : 0 ,'B' : 1, 'C' : 2, 'D' : 3, 'E' : 4, 'F' : 5, 'G' : 6}

data['grade'] = data['grade'].map(grade_1)

C:\Users\user\AppData\Local\Temp\ipykernel_16612\2071092809.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['grade'] = data['grade'].map(grade_1)

In [51]:
data['grade'].value_counts()

1    663520
2    650017
0    432990
3    324405
4    135618
5     41788
6     12161
Name: grade, dtype: int64

In [52]:
from sklearn.preprocessing import MinMaxScaler

Mm_feature = ['emp_length', 'grade', 'collections_12_mths_ex_med']

Mm = MinMaxScaler()

data[Mm_feature] = Mm.fit_transform(data[Mm_feature])

C:\Users\user\AppData\Local\Temp\ipykernel_16612\3311736195.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[Mm_feature] = Mm.fit_transform(data[Mm_feature])

In [53]:
from sklearn.preprocessing import OneHotEncoder

ohe_feature = ['home_ownership'  , 'purpose'  , 'earliest_cr_line' , 'issue_d']

ohe = OneHotEncoder()

ohe_num = ohe.fit_transform(data[ohe_feature])

In [54]:
data.drop(ohe_feature, axis = 1 , inplace = True)

C:\Users\user\AppData\Local\Temp\ipykernel_16612\1224627246.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(ohe_feature, axis = 1 , inplace = True)

In [55]:
from sklearn.preprocessing import StandardScaler

num_features = ['loan_amnt','int_rate','installment','annual_inc','dti','open_acc','pub_rec','revol_bal','revol_util','total_acc','mort_acc']

std_saller = StandardScaler()

data[num_features] = std_saller.fit_transform(data[num_features])

C:\Users\user\AppData\Local\Temp\ipykernel_16612\2545363608.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[num_features] = std_saller.fit_transform(data[num_features])

target (loan_status)는 따로 이진 분류로 전처리 

> 이 부분은 챗지삐띠에게 맏김

----

Fully Paid: 완납
Current: 현재
Charged Off: 상각 처리됨
Late (31-120 days): 연체 (31-120일)
In Grace Period: 유예 기간
Late (16-30 days): 연체 (16-30일)
Does not meet the credit policy. Status:Fully Paid: 신용 정책 미충족. 상태: 완납
Does not meet the credit policy. Status:Charged Off: 신용 정책 미충족. 상태: 상각 처리됨
Default: 채무 불이행

--- 

이진 분류 기준
정상(0): “Fully Paid”, “Current”
비정상(1): 나머지 상태들

In [56]:
data.head(5)

,loan_amnt,int_rate,installment,grade,emp_length,annual_inc,loan_status,dti,open_acc,pub_rec,revol_bal,revol_util,total_acc,collections_12_mths_ex_med,mort_acc,emp
0,-1.24563,0.18564,-1.20819,0.33333,1.00000,-0.20402,0,-0.91055,-0.81770,-0.34623,-0.60545,-0.83512,-0.93122,0.00000,-0.29154,1.00000
1,1.05030,-0.22825,1.40156,0.33333,1.00000,-0.11529,0,-0.19493,1.84148,-0.34623,0.20966,-1.26000,1.15431,0.00000,1.28327,1.00000
2,0.53889,-0.47865,-0.04927,0.16667,1.00000,-0.13303,0,-0.56720,-0.99498,-0.34623,-0.38303,0.23720,-0.51411,0.00000,1.80821,1.00000
3,2.17106,0.36361,1.43756,0.33333,1.00000,0.28401,0,-0.12443,0.24597,-0.34623,-0.38595,-1.56753,-0.59753,0.00000,-0.29154,1.00000
4,-0.50571,1.93639,-0.58357,0.83333,0.30000,0.23461,0,0.46146,0.06869,-0.34623,0.22967,0.57306,0.90405,0.00000,2.33315,1.00000

모든 데이터 합치기

In [57]:
from scipy import sparse

data_sparse = sparse.hstack([sparse.csr_matrix(data),
                               ohe_num
                               ],
                               
                               format = 'csr')

In [58]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2260499 entries, 0 to 2260698
Data columns (total 16 columns):
 #   Column                      Dtype
---  ------                      -----
 0   loan_amnt                   float64
 1   int_rate                    float64
 2   installment                 float64
 3   grade                       float64
 4   emp_length                  float64
 5   annual_inc                  float64
 6   loan_status                 int64
 7   dti                         float64
 8   open_acc                    float64
 9   pub_rec                     float64
 10  revol_bal                   float64
 11  revol_util                  float64
 12  total_acc                   float64
 13  collections_12_mths_ex_med  float64
 14  mort_acc                    float64
 15  emp                         float64
dtypes: float64(15), int64(1)
memory usage: 293.2 MB

In [59]:
y = data[['loan_status']]

In [60]:
y

         loan_status
0                  0
1                  0
2                  0
3                  0
4                  0
...              ...
2260694            0
2260695            0
2260696            0
2260697            1
2260698            0

[2260499 rows x 1 columns]

In [61]:
type(y)

pandas.core.frame.DataFrame

In [62]:
data = data.drop('loan_status' , axis = 1)

In [63]:
num_train = len(data)

X = data

In [64]:

from sklearn.model_selection import train_test_split

x_train , x_valid, y_train, y_valid = train_test_split(X, y, test_size=0.2, random_state=42 , stratify = y)

모델 훈련

In [65]:
from sklearn.linear_model import LogisticRegression
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import make_pipeline 


pipeline = make_pipeline(
    SimpleImputer(strategy='constant', fill_value=0),
    LogisticRegression(max_iter=1000, random_state=42)
)

pipeline.fit(x_train, y_train)

c:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Pipeline(steps=[('simpleimputer',
                 SimpleImputer(fill_value=0, strategy='constant')),
                ('logisticregression',
                 LogisticRegression(max_iter=1000, random_state=42))])

In [66]:
from sklearn.metrics import roc_auc_score

# 검증 데이터를 활용한 타깃 예측

y_valid_preds = pipeline.predict(x_valid)

# 'multi_class' 매개변수를 'ovo' 또는 'ovr'로 설정
roc_auc = roc_auc_score(y_valid, y_valid_preds, multi_class='ovr')

print(f"검증 데이터 ROC AUC : {roc_auc :.4f}" )

검증 데이터 ROC AUC : 0.5074

In [67]:
from sklearn.metrics import classification_report

print(classification_report(y_valid , y_valid_preds))

              precision    recall  f1-score   support

           0       0.87      1.00      0.93    390999
           1       0.46      0.02      0.03     61101

    accuracy                           0.86    452100
   macro avg       0.66      0.51      0.48    452100
weighted avg       0.81      0.86      0.81    452100

In [68]:
y.value_counts(sort=False)

loan_status
0              1954995
1               305504
dtype: int64